# MongoDB Connection
MONGO_URI='mongodb+srv://johndere404_db_user:19aZRvSFYlaguyQ5@cluster0.pgc5t8p.mongodb.net/msfavour'

# Security
SECRET_KEY=9qH3yQFqOjFL4cir5dXG4L4ezNeoB8tvteUeZ/ZVwDY=
CLEAR_HISTORY_PIN=4598

# Environment
FLASK_ENV=production
DEBUG=False
